<nz-layout>
    <nz-header>
        <div>        
            <div nz-row nzJustify="center" nzAlign="middle">
                <div nz-col nzSpan="24" class="text-center">
                    <img src="../../assets/logo-central-pagamento.png" title="Central de pagamentos" alt="Central de pagamentos">
                </div>            
            </div>    
        </div>
    </nz-header>
    <nz-layout>
        <nz-content>
            <div nz-row nzJustify="center" nzAlign="middle">                
                <div nz-col nzSpan="21">
                    <nz-card class="mb-25 text-center">
                        <img src="../../assets/sad-cloud.png" title="Erro 404" alt="Erro 404">
                        <h1 style="font-size:80px; font-weight:400; margin-bottom:5px;">404</h1>
                        <h2>Página não encontrada</h2>
                        <p class="m-b-lg">
                            Desculpe, mas a página que você tentou acessar não existe.
                        </p>                        
                    </nz-card>
                </div>                
            </div>
        </nz-content>
    </nz-layout>    
</nz-layout>